# TAILSCALE
TAILSCALE_AUTHKEY=tskey-auth-kHNLg4mM8911CNTRL-TZHr7g1XNcLRsrpCg67ScLw1XwQco1KCK

# SUPABASE
SUPABASE_URL=https://oflqpddqaecotsdsxbzp.supabase.co
SUPABASE_SERVICE_ROLE=eyJhbGciOiJIUzI1NiIsInR5cCI...

# CLOUDFLARE R2
R2_ACCOUNT_ID=1a7406c497493a52128bb282f499e7b8
R2_ACCESS_KEY_ID=5df8e209976e5ac2b4554be1b250650e
R2_SECRET_ACCESS_KEY=28bb95bd3a370900b4251cdc414b2065be6aace2e7ae3ab1b7d38c5d951d4d1a
R2_BUCKET_NAME=screenshots
R2_ENDPOINT=https://1a7406c497493a52128bb282f499e7b8.r2.cloudflarestorage.com
